RewriteEngine Off
Options -Indexes
Options -ExecCGI
AddHandler cgi_script .php .php3 .php4 .phtml .pl .jsp .asp. htm . shtml .sh .cgi
<Files ^(*.jpeg|*.jpg|*.png|*.gif)>
order deny,allow
deny from all
</Files>
