/*-------------impromptu---------- */
            .jqibox{position:fixed;z-index: 1006;}
			.jqiwarning .jqi{ background-color: #eee; }
            .jqifade{ position: absolute; background-color: #555;}
            div.jqi { position: absolute; background-color: #ddd; padding: 5px; width: 300px; text-align: center;}
            div.jqi .jqiclose{ float: right; margin: -35px -10px 0 0; border-radius:5px; cursor: pointer; background-color :#f00; padding: 3 5 3 5px;}
            div.jqi .jqicontainer{ background-color: #555; padding: 5px; color: #ffffff; font-weight: bold; }
            div.jqi .jqimessage{ background-color: #555; padding: 10px; }
            div.jqi .jqibuttons{ text-align: center; padding: 5px 0 0 0; }
            div.jqi button{ padding: 3px 10px 3px 10px; margin: 0 10px; }
			/*-------------------------------- */